<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{document.title}} | Fluid Infusion</title>
        <link rel="stylesheet" href="{{{relativeUrl '/css/normalize.css' document.url}}}">
        <link rel="stylesheet" href="{{{relativeUrl '/css/foundation.css' document.url}}}">
        <link rel="stylesheet" href="{{{relativeUrl '/css/highlightjs-custom.css' document.url}}}">
        <link rel="stylesheet" href="{{{relativeUrl '/css/octicons.css' document.url}}}">
        <link rel="stylesheet" type="text/css" href="{{{relativeUrl '/lib/infusion/src/framework/preferences/css/Enactors.css' document.url}}}" />
        <link rel="stylesheet" type="text/css" href="{{{relativeUrl '/lib/infusion/src/framework/preferences/css/PrefsEditor.css' document.url}}}" />
        <link rel="stylesheet" type="text/css" href="{{{relativeUrl '/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css' document.url}}}" />
        <link rel="stylesheet" href="{{{relativeUrl '/css/infusion-docs.css' document.url}}}">

        <link rel="icon" type="image/png" href="{{{relativeUrl '/images/favico.png' document.url}}}">

        <script type="text/javascript" src="{{{relativeUrl '/lib/infusion/infusion-uio.js' document.url}}}"></script>
        <script type="text/javascript" src="{{{relativeUrl '/js/infusion-docs.js' document.url}}}"></script>
        
    </head>
    <body class="infusion-docs fl-theme-prefsEditor-default">

        <div class="container infusion-docs-container">

            <!-- Skip Link -->
            <div id="skip">
                <a href="#tableOfContents">Jump to Table of Contents</a>
                <a href="#content">Skip to Content</a>
            </div>
            <!-- END skip link -->

            <!-- BEGIN markup for Preference Editor -->
            <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
                <!-- This is the div that will contain the Preference Editor component -->
                <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

                <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
                <div class="fl-panelBar">
                    <span class="fl-prefsEditor-buttons">
                        <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                        <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide">+ Show Display Preferences</button>
                    </span>
                </div>
            </div>

            <script type="text/javascript">
                fluid.uiOptions.prefsEditor(".flc-prefsEditor-separatedPanel", {
                    "templatePrefix": "{{{relativeUrl '/lib/infusion/src/framework/preferences/html/' document.url}}}",
                    "messagePrefix": "{{{relativeUrl '/lib/infusion/src/framework/preferences/messages/' document.url}}}",
                    "tocTemplate": "{{{relativeUrl '/lib/infusion/src/components/tableOfContents/html/TableOfContents.html' document.url}}}"
                });
            </script>

            <!-- END markup for Preference Editor -->

            <header class="row infusion-docs-header">
                <div class="infusion-docs-fluidLogo small-12 medium-3 column">
                    <a class="infusion-docs-fluidLogoText" href="{{{relativeUrl '/index.html' document.url}}}" title="Infusion">infusion</a>
                </div>

                <nav class="infusion-docs-fluidCategories small-12 medium-9 column">
                    {{! Highlight the (active) category the document belongs to. }}
                    {{#each siteStructure}}
                        {{#ifEqual category ../document.category}}
                            <a href="{{{relativeUrl categoryHref ../../document.url}}}" title="{{category}}" class="infusion-docs-category-active">{{category}}</a>
                        {{else}}
                            <a href="{{{relativeUrl categoryHref ../../document.url}}}" title="{{category}}">{{category}}</a>
                        {{/ifEqual}}
                    {{/each}}
                </nav>
            </header>

            <div class="infusion-docs-mainBody">
                <nav id="tableOfContents" class="infusion-docs-TOC small-12 medium-3 column" tabindex="-1">
                    {{#each siteStructure}}
                        {{! Output only the table of contents matching the current document's category }}
                        {{#ifEqual category ../document.category}}
                            <span class="infusion-docs-category">{{category}}</span>
                            {{#each sections}}
                                <span class="infusion-docs-sectionName">{{sectionName}}</span>
                                <ul>
                                    {{#each pages}}
                                        <li>
                                            {{#ifEqual href ../../../../document.url}}
                                                <span class="infusion-docs-TOC-pageName">{{pageName}}</span>
                                            {{else}}
                                                <a href="{{relativeUrl href ../../../../../document.url}}"><span class="infusion-docs-TOC-pageName">{{pageName}}</span></a>
                                            {{/ifEqual}}
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/each}}
                        {{/ifEqual}}
                    {{/each}}
                </nav>

                <article id="content" class="infusion-docs-mainContent small-12 medium-9 column" tabindex="-1">
                    <div class="infusion-docs-articleContainer">

                        <div class="flc-toc-tocContainer infusion-docs-toc"> </div>
    
                        <h1>{{document.title}}</h1>
    
                        <p class="infusion-docs-githubLink"><a href="{{githubLocation}}" target="_blank">Edit on GitHub</a></p>
    
                        {{#if document.noteRendererChangesPost15}}
                        <div class="infusion-docs-note"><strong>Note:</strong> The renderer will undergo significant changes post Infusion 1.5
                        </div>
                        {{/if}}
    
                        <div class="infusion-docs-articleBody">
                            {{{rewriteMdLinks content}}}
                        </div>
                    </div>

                    <footer class="row infusion-docs-footer">
                        <p class="infusion-docs-footerInfusion">Infusion is created by the <a href="http://fluidproject.org/" target="_blank">Fluid Project</a>,<br/>
                        a project of the <a href="http://idrc.ocad.ca/" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University</a>, funded by a grant from <a href="http://www.mellon.org/" target="_blank">The Andrew W. Mellon Foundation</a>.</p>
                        <p>
                            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png" />
                            </a><br />
                            This documentation is licensed under a
                            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.<br/>
                            All code examples are licensed under
                            <a rel="license" href="https://github.com/fluid-project/infusion/blob/master/Infusion-LICENSE.txt">New BSD or ECL 2.0</a>.
                        </p>
                    </footer>

                </article>
                
            </div>


        </div> <!-- end container -->
        <script>
            fluid.docs.onLoad();
        </script>

    </body>
    
</html>
