<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{ title }} | Fluid Infusion</title>

        <link rel="stylesheet" href="{{ url "/lib/foundation/normalize.css" }}">
        <link rel="stylesheet" href="{{ url "/lib/foundation/foundation.css" }}">
        <link rel="stylesheet" href="{{ url "/css/highlightjs-custom.css" }}">
        <link rel="stylesheet" href="{{ url "/lib/octicons/octicons.css" }}">

        <link rel="stylesheet" type="text/css" href="{{ url "/lib/infusion/src/framework/preferences/css/Enactors.css" }}" />
        <link rel="stylesheet" type="text/css" href="{{ url "/lib/infusion/src/framework/preferences/css/PrefsEditor.css" }}" />
        <link rel="stylesheet" type="text/css" href="{{ url "/lib/infusion/src/framework/preferences/css/SeparatedPanelPrefsEditor.css" }}" />
        <link rel="stylesheet" href="{{ url "/css/infusion-docs.css" }}">

        <link rel="icon" type="image/png" href="{{ url "/images/favico.png" }}">

        <script type="text/javascript" src="{{ url "/lib/infusion/dist/infusion-all.js" }}"></script>
        <script type="text/javascript" src="{{ url "/js/infusion-docs.js" }}"></script>

        <script type="text/javascript" src="{{ url '/lib/gpii-express/querystring-coding.js' }}"></script>
        <script type="text/javascript" src="{{ url '/lib/gpii-binder/transforms.js' }}"></script>
        <script type="text/javascript" src="{{ url '/lib/gpii-binder/binder.js' }}"></script>

        {{#ifEqual category "Search"}}
            <script type="text/javascript" src="{{ url '/lib/gpii-location-bar-relay/locationBar.js' }}"></script>
            <script type="text/javascript" src="{{ url '/lib/lunr/lunr.min.js' }}"></script>
            <script type="text/javascript" src="{{ url '/search-digest.js' }}"></script>
            <script type="text/javascript" src="{{ url '/js/search-string-parser.js' }}"></script>
            <script type="text/javascript" src="{{ url '/js/search.js' }}"></script>
        {{else}}
            <script type="text/javascript" src="{{ url '/js/mini-search.js' }}"></script>
        {{/ifEqual}}
    </head>
    <body class="infusion-docs fl-theme-prefsEditor-default">
        <div class="container infusion-docs-container">

            <!-- Skip Link -->
            <div id="skip">
                <a href="#tableOfContents">Jump to Table of Contents</a>
                <a href="#content">Skip to Content</a>
            </div>
            <!-- END skip link -->

            <!-- BEGIN markup for Preference Editor -->
            <div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
                <!-- This is the div that will contain the Preference Editor component -->
                <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div>

                <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
                <div class="fl-panelBar">
                    <span class="fl-prefsEditor-buttons">
                        <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset"><span class="fl-icon-undo"></span> Reset</button>
                        <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide">+ Show Display Preferences</button>
                    </span>
                </div>
            </div>

            <script type="text/javascript">
                fluid.uiOptions.prefsEditor(".flc-prefsEditor-separatedPanel", {
                    terms: {
                        "templatePrefix": "{{ url "/lib/infusion/src/framework/preferences/html" }}",
                        "messagePrefix": "{{ url "/lib/infusion/src/framework/preferences/messages" }}"
                    },
                    "tocTemplate": "{{ url "/lib/infusion/src/components/tableOfContents/html/TableOfContents.html" }}"
                });
            </script>

            <!-- END markup for Preference Editor -->

            <header class="row infusion-docs-header">
                <div class="infusion-docs-fluidLogo small-12 medium-3 column">
                    <a class="infusion-docs-fluidLogoText" href="{{ url "/" }}" title="Infusion">infusion</a>
                </div>

                <nav class="infusion-docs-fluidCategories small-12 medium-9 column">
                    {{! Highlight the (active) category the document belongs to. }}
                    {{#each siteStructure}}
                        {{#ifEqual category ../category}}
                            <a href="{{ url categoryHref }}" title="{{category}}" class="infusion-docs-category-active">{{category}}</a>
                        {{else}}
                            <a href="{{ url categoryHref }}" title="{{category}}">{{category}}</a>
                        {{/ifEqual}}
                    {{/each}}
                </nav>
            </header>

            <div class="infusion-docs-mainBody">
                <nav id="tableOfContents" class="infusion-docs-TOC small-12 medium-3 column" tabindex="-1">
                    {{#ifEqual category "Search"}}
                    {{else}}
                        <span class="infusion-docs-category">Search</span>
                        <p class="docs-search-mini"><input type="text" name="qs"/></p>

                        {{#each siteStructure}}
                        {{! Output only the table of contents matching the current document's category }}
                            {{#ifEqual category ../category}}
                                <span class="infusion-docs-category">{{category}}</span>
                                {{#each sections}}
                                    <span class="infusion-docs-sectionName">{{sectionName}}</span>
                                    <ul>
                                        {{#each pages}}
                                            <li>
                                                {{#ifEqual href ../../../page.url}}
                                                    <span class="infusion-docs-TOC-pageName">{{pageName}}</span>
                                                {{else}}
                                                    <a href="{{ url href }}"><span class="infusion-docs-TOC-pageName">{{pageName}}</span></a>
                                                {{/ifEqual}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                {{/each}}
                            {{/ifEqual}}
                        {{/each}}
                    {{/ifEqual}}
                </nav>

                <article id="content" class="infusion-docs-mainContent small-12 medium-9 column" tabindex="-1">
                    <div class="infusion-docs-articleContainer">

                        <div class="flc-toc-tocContainer infusion-docs-toc"> </div>

                        <h1>{{ title }}</h1>

                        <p class="infusion-docs-githubLink"><a href="{{ githubLocation }}" target="_blank">Edit on GitHub</a></p>

                        {{#if noteRendererChangesPost15 }}
                        <div class="infusion-docs-note"><strong>Note:</strong> The renderer will undergo significant changes post Infusion 1.5
                        </div>
                        {{/if}}

                        <div class="infusion-docs-articleBody">
                            {{#ifEqual category "Search"}}
                                <div class="docs-search">
                                    <input type="text" class="docs-search-query" placeholder="Enter one or more search terms and press enter to search."/>

                                    <div class="docs-search-results"></div>
                                </div>
                            {{else}}
                                {{{ rewriteMdLinks content }}}
                            {{/ifEqual}}
                        </div>
                    </div>

                    <footer class="row infusion-docs-footer">
                        <p class="infusion-docs-footerInfusion">Infusion is created by the <a href="http://fluidproject.org/" target="_blank">Fluid Project</a>,<br/>
                        a project of the <a href="http://idrc.ocad.ca/" target="_blank">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca/" target="_blank">OCAD University</a>, funded by a grant from <a href="http://www.mellon.org/" target="_blank">The Andrew W. Mellon Foundation</a>.</p>
                    </footer>

                </article>

            </div>


        </div> <!-- end container -->
        <script>
            fluid.docs.onLoad();
            {{#ifEqual category "Search"}}
                fluid.docs.search(".docs-search");
            {{else}}
                fluid.docs.search.mini(".docs-search-mini")
            {{/ifEqual}}
    </script>

    </body>

</html>
