<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{{document.title}} | Fluid Infusion</title>
        <link rel="stylesheet" href="{{{relativeUrl '/css/normalize.css'}}}">
        <link rel="stylesheet" href="{{{relativeUrl '/css/foundation.css'}}}">
        <link rel="stylesheet" href="{{{relativeUrl '/css/highlightjs-custom.css'}}}">
        <link rel="stylesheet" href="{{{relativeUrl '/css/infusion-docs.css'}}}">
    </head>
    <body class="infusion-docs">

        <div class="container infusion-docs-container">

            <header class="row infusion-docs-header">
                <div class="infusion-docs-fluidLogo small-12 medium-6 column">
                    <a class="infusion-docs-fluidLogoText" href="" title="fluid">fluid</a>
                </div>

                <nav class="small-12 medium-6 column">
                    <a href="" title="Home">HOME</a>
                    <a href="" title="About">ABOUT</a>
                    <a href="" title="Projects">PROJECTS</a>
                    <a class="infusion-docs-linkDOCS" href="" title="Docs">DOCS</a>
                </nav>
            </header>

            <div class="row infusion-docs-mainContent">

                <h1>{{document.title}}</h1>

                <p class="infusion-docs-githubLink"><a href="{{githubLocation}}">Edit on GitHub</a></p>

{{{rewriteMdLinks content}}}

            </div>

            <footer class="row infusion-docs-footer">
                <p class="infusion-docs-footerInfusion">Infusion is created by <a href="" >fluidproject.org</a></p>
                <p>Fluid is a project of the <a href="">Inclusive Design Research Centre</a> at <a href="">OCAD University</a>, funded by a grant from <a href="">The Andrew W. Mellon Foundation</a>.</p>
            </footer>

        </div> <!-- end container -->

    </body>
</html>
